/*
 *Name: [Jayla Williams]
 *UnityID: [jmwill47]
 *Date: [11/8/2025]
 *Assignment: [Webpages Lab]
 *Description: [Webpages Lab css]
 */
 
p {
    font-family: 'Times New Roman', Times;
    font-size: 16px;
    color:black;
}

.table-border {
    border: 1px solid black;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;

}
